#header_buttons {
    flex-direction: column;
}
.btn-success{
    padding-left: 1rem;
}
#header_buttons button {
    height: 10rem;
    padding: 1rem;
}
#sidebarMenuDropdown {
    font-size: x-large;
}