#header_buttons form{
    flex-direction: column;
}
.btn-success{
    padding-left: 1rem;
}
#header_buttons button {
    height: 10rem;
    padding: 1rem;
}
#sidebarMenuDropdown {
    font-size: x-large;
}

#delete_movie_item {
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-info{
    margin-bottom: auto;
}
.star-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}
