#header_buttons form{
    flex-direction: column;
}
.btn-success{
    padding-left: 1rem;
}
#header_buttons button {
    height: 10rem;
    padding: 1rem;
}
#sidebarMenuDropdown {
    font-size: x-large;
}

#delete_movie_item {
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-info{
    margin-bottom: auto;
}
.star-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}

.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  gap: 5px;
}

.pagination .page-link {
  color: var(--text); /* your text color variable */
  background-color: var(--bg2);
  border: 1px solid var(--header-buttons-color);
  padding: 6px 12px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination .page-link:hover {
  background-color: var(--header-buttons-hover-bg);
  color: var(--log-in-color);
}

.pagination .active .page-link {
  background-color: var(--header-buttons-hover-bg);
  color: var(--log-in-color);
  border-color: var(--header-buttons-hover-bg);
  font-weight: bold;
  cursor: default;
}

