{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "home/home.css" %}">
{% endblock %}
{% block content %}
{%include "includes/header_buttons.html"%}
    <h1 id="recommendations">Recommendations</h1>

    
      {% comment %} {% for movie in page_obj %}
          <div class="movie">
              <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
          <div class="movie-info">
              <h2>{{ movie.title }}</h2>
              <p>{{ movie.overview }}</p>
              <p><strong>Release:</strong> {{ movie.release_date }}</p>
              </div>
          </div>
      {% endfor %} {% endcomment %}


<div class="home_media_items">
  <div class="row">
    {% for media in page_obj %}
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
        <div class="card h-100 media-card">
          {% if media.poster_url %}
            <img src="{{ media.poster_url }}" class="card-img-top media-poster" alt="{{ media.title }}">
          {% else %}
            <img src="{% static 'home/images/no_image.png' %}" class="card-img-top media-poster" alt="No image available">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ media.title }}</h5>
            <p class="card-text">{{ media.overview|truncatechars:500 }}</p>
            <div class="release-date-container">
                <p class="release-date"><strong>Release:</strong> {{ media.release_date }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


    <nav aria-label="Page navigation">
  <ul class="pagination justify-content-center mt-4">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active">
          <span class="page-link">{{ num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}