{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "home/home.css" %}">
{% endblock %}
{% block content %}
{%include "includes/header_buttons.html"%}
<h1 id="recommendations">Recommendations</h1>
{%for row in rows_range%}
    <section class="film-row">
        {% for film in films_range %}
            <div>
                <img src="" alt="the_name_of_film">
                <h3 class="name">The_name_of_film</h3>
            </div>
        {% endfor %}
    </section>
{%endfor%}
{% endblock %}