{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static "home/home.css" %}">
{% endblock %}
{% block content %}
{%include "includes/header_buttons.html"%}
<h1 id="recommendations">Recommendations</h1>
<p>{{ movie.overview|default:"No description available." }}</p>
<p><strong>Release:</strong> {{ movie.release_date|default:"Unknown" }}</p>
        {% for movie in movies %}
        <div class="movie">
            <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" alt="{{ movie.title }}">
        <div class="movie-info">
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.overview }}</p>
            <p><strong>Release:</strong> {{ movie.release_date }}</p>
            </div>
        </div>
        {% endfor %}
{% endblock %}