{% extends "base.html" %}
{% load static %}

{%block css_files%}
    <link rel="stylesheet" href="{%static "welcome_page/styles.css"%}">
    <link rel="stylesheet" href="{%static "welcome_page/mobile.css"%}" media="only screen and (max-width: 935px)">
{%endblock%}

{% block header_user_button %}
<button onclick="window.location.href='/login'" type="button" class="btn btn-primary me-2">Log in</button>
<button onclick="window.location.href='/reg'" type="button" class="btn btn-primary me-2">Join YMT</button>
{%endblock%}

{%block content%}
    <div id="main-div">
        <h1 id="logo">YMT</h1>
        <h2 id="sub_logo">Your media library</h2>
    </div>
{%endblock%}

{%block footer%}
    <p>Was developed by 1-18-20-5-13Bga & Klad1slav</p>
{%endblock%}