.btn-primary, .btn-primary:hover {
    background-color: #1D1D1D;
    border: none
}
.btn-primary:focus:active {
    background-color: var(--log-in-bg) !important;
    color: var(--log-in-color) !important;
}

.btn-success {
    margin-top: 20px;
    
}