.register-container {
    background-color: var(--bg2);
    padding: 40px;
    width: 650px;
    margin: 100px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(243, 3, 3, 0.1);
    text-align: center;
}

.login-container {
    background-color: var(--bg2);
    padding: 40px;
    width: 650px;
    margin: 100px auto; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(243, 3, 3, 0.1);
    text-align: center;
}
.wrapper{
    background-color: var(--bg1);
}
