{% extends "base.html" %}
{% load static %}

{% block header_user_button %}
 {% comment %} to hide button in header {% endcomment %}
{% endblock %}


{%block content%}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<link rel="stylesheet" href="{% static 'registration_page/others.css' %}">
<link rel="stylesheet" href="{% static 'registration_page/buttons.css' %}">
    <link rel="stylesheet" href="{%static "registration_page/mobile.css"%}" media="only screen and (max-width: 935px)">

<div class="register">
    
    <form method="POST" class="register-container">
        <h2>Registration</h2>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% if form.username.errors %}
        <div class="text-errors">
            {{ form.username.errors }}
        </div>
        {% endif %}

    {% if form.email.errors %}
        <div class="text-errors">
            {{ form.email.errors }}
        </div>
        {% endif %}

    {% if form.password1.errors %}
        <div class="text-errors">
            {{ form.password1.errors }}
        </div>
        {% endif %}

    {% if form.password2.errors %}
        <div class="text-errors">
            {{ form.password2.errors }}
        </div>
        {% endif %}

    <div class="reg_field">
        <label for="id_username" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          {{ form.username }}
        </div>
      </div>
      
    <div class="reg_field">
        <label for="id_email" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-envelope"></i></span>
          {{ form.email }}
        </div>
      </div>
      
      <div class="reg_field">
        <label for="id_password1" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock"></i></span>
          {{ form.password1 }}
        </div>
      </div>
      
      <div class="reg_field">
        <label for="id_password2" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          {{ form.password2 }}
        </div>
      </div>
      
      <button type="submit" class="btn btn-success">Success</button>
    </form>
</div>


{%endblock%}