html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1D1D1D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header, footer{
    background-color: #36454F;
}
header{
    padding: 10px;
}
footer{
    width:100%;
}
.wrapper {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
#header_buttons {
    display: flex;
    flex-direction: row;         /* Optional: space between buttons */
    width: 100%;
}

#header_buttons button {
    background-color:#434B51;
    flex: 1 1 0;
    width: 100%;
    border-radius: 0;
}
#header_buttons button:hover {
    background-color: #92AEC0 !important;
    color: #DBDBDB !important;
}